@value makerBlack, makerGreen, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  padding: 0.5em;
  background-color: makerGreen;
  text-align: center;
  position: relative;
}

.log {
  width: 3em;
}

.title {
  margin: 0;
  color: #ffffff;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
